@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

header #btnMenu {
  position: absolute;
  top: 3vw;
  right: 3vw;
  width: 42px;
  height: 32px;
  font-size: 0;
  text-indent: -999;
  z-index: 9;
  cursor: pointer; }
  header #btnMenu span {
    width: 100%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    transition: 0.5s; }
  header #btnMenu::before {
    content: '';
    display: block;
    width: 40%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    transform-origin: left bottom;
    transition: 0.5s; }
  header #btnMenu::after {
    content: '';
    display: block;
    width: 40%;
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    right: 0;
    transform-origin: right top;
    transition: 0.5s; }
  header #btnMenu.on span {
    transform: rotate(-45deg); }
  header #btnMenu.on::before {
    transform: rotate(45deg) translate(-1px, -5px);
    transition-delay: 0.5s; }
  header #btnMenu.on::after {
    transform: rotate(45deg) translate(1px, 5px);
    transition-delay: 0.5s; }
header .gnb {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #111;
  z-index: 8;
  clip-path: circle(0% at 97% 3%);
  transition: 0.5s; }
  header .gnb #navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; }
    header .gnb #navi li {
      margin: 4vh auto; }
      header .gnb #navi li a {
        font: 700 70px/1 'Montserrat';
        color: #fff;
        position: relative; }
      header .gnb #navi li:hover a::after {
        content: '';
        display: block;
        width: 110%;
        height: 7px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  header .gnb.on {
    clip-path: circle(150% at 97% 3%);
    transition-delay: 0.5s; }

#visual {
  width: 100%;
  height: 100vh;
  background: #111;
  position: relative;
  overflow: hidden; }
  #visual main {
    width: 100%;
    height: 100%; }
    #visual main .bg {
      width: 100%;
      height: 100%; }
      #visual main .bg li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: 0; }
        #visual main .bg li img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          filter: brightness(0.3) blur(5px);
          transform: scale(1.2);
          transform-origin: center; }
        #visual main .bg li:nth-of-type(2) {
          opacity: 1; }
    #visual main .mainImg {
      width: 100%;
      height: 100%;
      z-index: 1; }
      #visual main .mainImg li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        transition: 1s;
        clip-path: circle(0vw at 50% 50.3%); }
        #visual main .mainImg li img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          transform: scale(1);
          transition: 0.5s 0.5s; }
        #visual main .mainImg li.on img {
          transform: scale(1.1);
          transition: 1s 1s; }
    #visual main .smallMain {
      z-index: 1; }
      #visual main .smallMain li.on {
        clip-path: circle(14vw at 50% 50.3%); }
    #visual main .largeMain li.on {
      clip-path: circle(32.9vw at 50% 50.3%); }
    #visual main .title {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -200px;
      margin-top: -60px;
      z-index: 3; }
      #visual main .title li {
        width: 400px;
        height: 120px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        overflow: hidden; }
        #visual main .title li span {
          font: 800 2vw/1.5 'Montserrat';
          color: #fff;
          opacity: 0;
          transform: translateY(100%);
          transition: 1s; }
        #visual main .title li.on span {
          transform: translateY(0%);
          opacity: 1; }
        #visual main .title li.upper span {
          transform: translateY(-100%);
          opacity: 0; }
    #visual main .line {
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #eee;
      opacity: 0.2;
      z-index: 2; }
    #visual main .line1 {
      width: 28vw;
      height: 28vw;
      margin-left: -14vw;
      margin-top: -14vw; }
    #visual main .line2 {
      width: 44vw;
      height: 44vw;
      margin-left: -22vw;
      margin-top: -22vw; }
    #visual main .line3 {
      width: 66vw;
      height: 66vw;
      margin-left: -33vw;
      margin-top: -33vw; }
    #visual main .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      z-index: 2; }
      #visual main .btn i {
        font-size: 12px; }
    #visual main .btnPrev {
      left: 17%;
      margin-left: -20px; }
    #visual main .btnNext {
      right: 17%;
      margin-right: -20px; }

.content {
  background: #2D2C4D;
  min-height: 100vh; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    padding-top: 200px;
    position: relative; }
    .content .inner h1 {
      position: relative;
      text-align: center;
      font: 700 34px/1 'Montserrat';
      color: #a8cfd7;
      margin-bottom: 30px; }

.gallery .inner h1 {
  margin-bottom: 60px; }
.gallery .inner .searchBox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-bottom: 80px; }
  .gallery .inner .searchBox .searchBar {
    width: 18vw;
    height: 44px;
    border: 1px solid #fff;
    background: transparent;
    font: 400 18px/1 'Noto Sans KR';
    color: #fff;
    padding: 15px; }
  .gallery .inner .searchBox .btnSearch {
    width: 90px;
    height: 44px;
    border: 1px solid #fff;
    background: #fff;
    font: 700 16px/44px 'Noto Sans KR';
    color: #2D2C4D;
    letter-spacing: 1px;
    cursor: pointer; }
.gallery .inner #wrap {
  width: 100%;
  position: relative; }
  .gallery .inner #wrap .loading {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -40px;
    transition: 0.5s; }
    .gallery .inner #wrap .loading.off {
      opacity: 0; }
  .gallery .inner #wrap .list {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s; }
    .gallery .inner #wrap .list.on {
      opacity: 1;
      transform: translateY(0px); }
    .gallery .inner #wrap .list::after {
      content: '';
      display: block;
      clear: both; }
    .gallery .inner #wrap .list .item {
      width: calc(100% / 4);
      padding: 12px;
      float: left; }
      .gallery .inner #wrap .list .item .panel {
        width: 100%;
        background: #fff;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3); }
        .gallery .inner #wrap .list .item .panel .txt {
          width: 100%;
          padding: 15px; }
          .gallery .inner #wrap .list .item .panel .txt p {
            font: 700 20px/1.4 'Lato';
            color: #222;
            margin-bottom: 10px; }
          .gallery .inner #wrap .list .item .panel .txt span {
            font: 300 14px/1.2 'Lato';
            color: #333; }
        .gallery .inner #wrap .list .item .panel a {
          display: block;
          width: 100%;
          font-size: 0;
          margin-top: 10px; }
          .gallery .inner #wrap .list .item .panel a img {
            width: 100%;
            object-fit: contain; }
.gallery aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 6vw 12vw;
  z-index: 9; }
  .gallery aside img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center; }
  .gallery aside .btnClose {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 0;
    text-indent: -999px;
    cursor: pointer; }
    .gallery aside .btnClose::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: rotate(45deg);
      margin-left: 25px; }
    .gallery aside .btnClose::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      transform-origin: top right;
      transform: rotate(-45deg);
      margin-left: -25px; }

/*# sourceMappingURL=style.css.map */
