.gallery {
    .inner {
        h1 { margin-bottom: 60px;}

        .searchBox {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0;
            margin-bottom: 80px;

            input {
                width: 18vw; height: 44px;
                border: 1px solid #fff;
                background: transparent;
                font: 400 15px/1 'Noto Sans KR'; color: #fff;
                padding: 15px;
            }
            button {
                width: 90px; height: 44px;
                border: 1px solid #fff;
                background: #fff;
                font: 700 15px/44px 'Noto Sans KR'; color: #2D2C4D; letter-spacing: 1px;
                cursor: pointer;
            }
        }

        #wrap {
            width: 100%;
            position: relative;

            .loading {
                width: 100px; height: 100px;
                position: absolute;
                top: 100px; left: 50%; margin-left: -50px;
            }

            .list {
                &::after { content: ''; display: block; clear: both;}

                .item {
                    width: calc(100% / 4);
                    padding: 12px;
                    float: left;

                    .panel {
                        width: 100%;
                        background: #fff;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

                        .txt {
                            width: 100%;
                            padding: 15px;
                            p {
                                font: 700 20px/1.4 'Lato'; color: #333;
                                margin-bottom: 10px;
                            }
                            span {
                                font: 300 14px/1.2 'Lato'; color: #333;
                            }
                        }

                        a {
                            display: block;
                            width: 100%;
                            font-size: 0;
                            img {
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}