.content {
    background: #2D2C4D;
    min-height: 1600px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        padding-top: 200px;
        position: relative;

        h1 {
            position: relative;
            text-align: center;
            font: 700 34px/1 'Montserrat'; color: #a8cfd7;
            margin-bottom: 30px;
        }
    }
}