@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import "reset";

// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Bangers', cursive;

//배경하늘 #bfd8dd
//포인트노랑 #f5e10d
//파랑 #393df2
//로고만 주황 #e26a3f

// body { width: 100%; overflow: hidden;}

@import 'header';

#visual {
    width: 100%; height: 100vh;
    background: #111;
    position: relative;
    overflow: hidden;

    main {
        width: 100%; height: 100%;

        .bg {
            width: 100%; height: 100%;
            overflow: hidden;

            li {
                width: 100%; height: 100%;
                position: absolute;
                top: 0; left: 0;
                overflow: hidden;
                opacity: 0;
                transform: scale(1.2); transform-origin: center;
                filter: brightness(0.4) blur(5px);

                &:nth-of-type(1) {
                    background: url('../img/visual1.jpg') no-repeat center/cover;
                }
                &:nth-of-type(2) {
                    opacity: 1;
                    background: url('../img/visual2.jpg') no-repeat center/cover;
                }
                &:nth-of-type(3) {
                    background: url('../img/visual3.jpg') no-repeat center/cover;
                }
            }
        }


        .mainImg {
            width: 100%; height: 100%;
            
            li {
                z-index: 2;
                width: 100%; height: 100%;
                position: absolute;
                left: 0; top: 0;
                overflow: hidden;
                transition: 1s;
                clip-path: circle(0vw at 50% 50.3%);

                img {
                    width: 100%; height: 100%;
                    object-fit: cover; object-position: center center;
                    transform: scale(1); transition: 0.5s 0.5s
                }

                &.on img { transform: scale(1.1); transition: 1s 1s;}
            }
        }
        .smallMain {
            li {
                transition: 0.5s;
                z-index: 4;
                &.on {clip-path: circle(14vw at 50% 50.3%);}
            }
        }
        .mainHall {
            width: 100%; height: 100%;

            li {
                width: 100%; height: 100%;
                z-index: 3;
                position: absolute;
                left: 0; top: 0;
                opacity: 0;
                clip-path: circle(14vw at 50% 50.3%);
                filter: brightness(0.5) blur(5px);
                transition: 0.5s;

                img {
                    width: 100%; height: 100%;
                    object-fit: cover; object-position: center center;
                    transform: scale(1.2); transform-origin: center;
                }

                &.on { opacity: 1;}
            }
        }
        .largeMain {
            li.on { clip-path: circle(32.9vw at 50% 50.3%);}
        }


        .title {
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%,-30%);
            z-index: 5;

            li {
                width: 100%; height: 60px;
                margin-bottom: 15px;
                overflow: hidden;
                position: relative;

                span {
                    font: 800 44px/1 'Montserrat'; color: #fff;
                    opacity: 0;
                    position: relative; top: 100%;
                    transition: 1s;
                }
            }

            &.on li span { top: 0%; opacity: 1;}
            &.upper li span { top: -100%; opacity: 0;}
        }

        .line {
            border-radius: 50%;
            position: absolute;
            top: 50%; left: 50%;
            border: 1px solid #eee;
            opacity: 0.2;
            z-index: 2;
        }
        .line1 {
            width: 28vw; height: 28vw;
            margin-left: -14vw; margin-top: -14vw;
        }
        .line2 {
            width: 44vw; height: 44vw;
            margin-left: -22vw; margin-top: -22vw;
        }
        .line3 {
            width: 66vw; height: 66vw;
            margin-left: -33vw; margin-top: -33vw;
        }

        .btn {
            width: 40px; height: 40px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            top: 50%; margin-top: -20px;
            z-index: 2;
            i { font-size: 12px;}
        }
        .btnPrev {
            left: 17%; margin-left: -20px;
        }
        .btnNext {
            right: 17%; margin-right: -20px;
        }
    }
}
@import 'footer';

@import 'sub_layout';
@import 'about';
@import 'gallery';
@import 'media';
@import 'signup';